.login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

.login-form > input
/* .login-form input:([type="submit"])  */ {
  font-size: 18px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 15px 0px;
  transition: border-color 0.2s ease-in-out;
}
.login-form input::placeholder {
  color: var(--font-grey);
}
.login-form input:focus {
  border-color: var(--yellow);
}
.login-form__submit {
  display: flex;
  flex-direction: column;
  margin: 25px 0px 15px 0px;
  border: none;
}
.login-form__submit input {
  padding: 15px;
  margin: 5px 0px;
  font-size: 17px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.login-form__submit input:hover {
  background-color: var(--yellow);
}
.login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
