.nav {
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 0px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.nav__ul {
  display: flex;
  justify-content: space-around;
}
.nav__li {
  transform: translateY(50px);
  opacity: 0;
  animation: navAnimation 0.8s ease-in-out forwards;
  animation-delay: 0.5s;
}
.nav__li:nth-child(2) {
  animation-delay: 0.7s;
}
.nav__li:nth-child(3) {
  animation-delay: 0.8s;
}
.nav__li:last-child {
  animation-delay: 1s;
}
.nav__link {
  position: relative;
}
.nav__notification {
  position: absolute;
  left: 23px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}

.nav__dot {
  position: absolute;
  left: 33px;
  bottom: 27px;
}
