.screen-header {
  position: fixed;
  top: 55px;
  width: 100%;
  padding: 0px 25px 20px 25px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 700;
}

.screen-header__icon span {
  margin-left: 25px;
}
