.user-component {
  margin: 8px 12px 10px 12px;
}

.user-component,
.user-component__column {
  display: flex;
  align-items: center;
}
.user-component__picture {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  object-fit: cover;
  margin-right: 15px;
}
.user-component__name {
  font-weight: 600;
  font-size: 22px;
}
.user-component__text {
  display: flex;
  flex-direction: column;
}
.user-component__content {
  font-size: 17px;
  margin-top: 3px;
  color: rgba(0, 0, 0, 0.5);
}
